body{
	margin: 0;
	padding: 0;

}

form{

	font-size: 16px;
	background: none;
	max-width: 400px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	border-color:blue;
	border-width: medium;
	border-style: solid;
	border-color: blue; 
}
